@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Roboto&display=swap');
*{
    margin:0%;
    color: white;
}

.nomeLoja{
    color: white;
    text-decoration: none;
    font-family: 'Alkatra', cursive;
    font-size: 150%;

    
}

.nav{
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content:space-around;
    background-color: #B752FF;
    text-decoration: none;
    /* height: 100%; */
    padding-bottom: 1.5rem;
    align-items:end;
    

}

.iconeLoja{
    width: 2px;
    height: 2px;
}

.linkRoupa{
    text-decoration: none;
    color:white;
    /* border: 2px solid black;
    border-radius: 5%; */
}


