@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Roboto&display=swap');
*{
    margin:0%;
    color: white;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    background-color: #B752FF;
    text-decoration: none;
    /* height: 100%; */
    padding-bottom: 1.5rem;
    align-items:center;
    height: 80px;
    width: 100%;
    padding: 0 25px;
    

}

.iconeLoja{
    width: 2px;
    height: 2px;
}

.linkRoupa{
    text-decoration: none;
    color:white;
    /* border: 2px solid black;
    border-radius: 5%; */
}

.pesquisar__input {
    width: 260px;
    height: 32px;
    border: 1px solid rgb(211, 211, 211);
    font-size: 16px;
    padding: 3px 8px;
    border: 1px solid rgb(211, 211, 211);
}

.pesquisar__label {
    background-image: url(projetofinal/paginasSecundarias/assets/imagens/icons/search.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid rgb(211, 211, 211);
    background-color: #F9F9F9;
    border-left: none;
    padding: 8px 18px 5px;
    cursor: pointer;
}



